.link1 {
    line-height: 200%;
    align-items: center;
    font-size: 30px;
    color: #000000;
    margin: 500px;
    

    
}

.link2 {
    line-height: 200%;
    align-items: center;
    font-size: 50px;
    color: yellow;
    margin: 40%;
    
}

.link3 {
    line-height: 200%;
    align-items: center;
    font-size: 50px;
    color: #800080;
    margin: 40%;
   
}