table{
    color: black;
    background-color: yellow;
    border-collapse: collapse;
    width: 55%;

  
}

.titulo{
    color:  red;
    justify-items: center;    
   
}


td{
    border: 2px dotted #000;
}


